.headerheader {
    background-color: rgb(28, 28, 141);
    width: 100%;
    height: 4rem;
    display: inline-flex;
    text-align: center;
    position: fixed;
    top: 0;
    z-index: 1000;
  }
  .headerheader img{
    width: 4%;
    height: 80%;
    margin-top: 0.5rem; 
    margin-left: 1rem;
  }
  .headerheader p{
    color: white;
    font-weight: 600;
    font-size: 19px;
    font-family: 'Montserrat', sans-serif;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0.5%;
  }
  #currenttime{
    margin-left: 60%;
    font-size: 19px;
    margin-top: auto;
    margin-bottom: auto;
    color: white;
  }