.homepagecontent{
  width: 100%;
  height: 40rem;
  padding-left: 5rem;
  padding-top: 5rem;
  padding-right: 0.5rem;
  padding-bottom: 1rem;
  background-color: rgb(241, 241, 241);
}
#innerhomepage{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding: 1rem;
  background-color: rgb(240, 240, 240);
}
#innerhomepage #horizon1{
  width: 100%;
  display: flex;
}
#innerhomepage #horizon1 #greeting{
  width: 90%;
}
#innerhomepage #horizon1 #imagediv{
  width: 10%;
}
#imagediv img{
  width: 60%;
  height: 80%;
  border-radius: 50%;
}
#innerhomepage #horizon2{
  width: 100%;
}
#innerhomepage #horizon2 #homecardssection{
  display: flex;
}
.react-calendar {
  border-radius: 10px;
  width: 40% !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: none !important;
}
#horizon2 #allhomecards{
  width: 60%;
  display: block;
}
#horizon2 #payrollcard{
  width: 98%;
  height: 40%;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  border-radius: 10px;
  padding: 1rem;
  background-color: white;
  display: flex;
}
#payrollcard #clockincard{
  width: 50%;
  transition: 0.2s ease-in-out;
  border-radius: 10px;
}
#payrollcard #clockincard:hover{
  cursor: pointer;
  background-color: rgb(249, 255, 240);
  scale: 1.05;
}
#payrollcard #clockincard p{
  color: rgb(151, 175, 174);
}
#payrollcard #paycard{
  width: 50%;
}
#payrollcard #paycard p{
  color: rgb(151, 175, 174);
}

#horizon2 #outterhomecards{
  display: flex;
}
#horizon2 .homecards{
  width: 35%;
  height: 10rem;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 0.5rem;
  padding: 0.5rem;
  text-align: center;
  transition: 0.2s ease-in-out;
}
#horizon2 .homecards:hover{
  scale: 1.05;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
#horizon2 .homecards .title{
  color: rgb(145, 151, 158);
}

#leavecard{
 background-color: rgb(255, 189, 189);
 border: 0.5px solid rgb(255, 155, 155);
}
#overtimecard{
  background-color: rgb(189, 223, 255);
  border: 0.5px solid rgb(155, 190, 255);
}
#reportcard{
  background-color: rgb(224, 255, 189);
  border: 0.5px solid rgb(212, 255, 155);
}