.setnewpayroll{
    width: 60%;
    height: auto;
    margin-top: 4rem;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
}
#setnewpayrollinner{
    text-align: center;
}
.setnewpayformdiv{
    display: flex;
    padding: 1rem;
}
.setnewpayformdiv input{
    width: 60%;
    border-radius: 10px;
    border: 1px solid gray;
}
.setnewpayformdiv p{
    width: 40%;
    margin-left: 8rem;
    margin-top: 1rem;
    justify-content: left;
    text-align: left;
}
#payrollcancel{
    background-color: red;
    width: 20%;
    color: white;
    border: none;
    border-radius: 5px;
}
#payrollcancel:hover{
    background-color: rgb(163, 0, 0);
    cursor: pointer;
}
#payrollsubmit{
    background-color: rgb(0, 196, 0);
    width: 20%;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 3rem;
}
#payrollsubmit:hover{
    background-color: rgb(0, 134, 22);
    cursor: pointer;
}